.block1 {
    position: absolute;
    background-color:cornsilk;
    width: 30%;
    height: 30%;
    border-radius: 28px;
}
.block2 {
    position: relative;
    background-color: #c2ecfd;
    width:40%;
    left: 20px;
}
.block3 {
    position: relative;
    background-color: #FBE4FF;
    width:40%;
    left:20px;
}
.block4 {
    position: relative;
    background-color:#d6fed1;
    width:40%;
    left: 255px;
    bottom: 215px;
}
.block5 {
    position: relative;
    background-color:#f9dcac;
    width:40%;
    left: 255px;
    bottom: 215px;
}